doctype html
html
   head
      meta(charset='utf8')
      block title
      block css
      link(rel="stylesheet", href="../fonts/poiret/stylesheet.css")
      link(rel="stylesheet", href="../fonts/myriadPro/stylesheet.css")
   body
      block content