h1 {
    color: orange;
}

h1 {
    text-align: right
}

p:first-letter, span:first-letter {
    color: red;
}

em {
    color: white;
    background: green
}

#allotment.plants-list h2 {
    color: orange
}

#warehouse.plants-list h2 {
    color: blue
}

.vegetables-list {
    color: red
}

#allotment .fruits-list {
    color: gray
}

#allotment {
    color: black
}

#warehouse {
    color: black
}

#warehouse.plants-list {
    color: black
}

#warehouse .fruits-list {
    color: green;
}

.students-table {
    font-weight: bold
}

tbody tr td:first-child {
    color: orange
}

tbody tr td:nth-last-child(-n+3) {
    color: white;
    background: green
}

thead {
    text-align: center
}