extends layout/layout
block title
   title main_page
block css
   link(rel='stylesheet', href='../css/main_page.css')
   link(rel='stylesheet', href='../css/contact.css')
block content
   .wrapper
      include includes/header
      include includes/main_menu
      include includes/slider
      .info
         h2 Наш центр находится по адрессу:
         p г. Киев, ул. Зодчих 34 Б
         p м. Житомирская
         iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2542.019543386656!2d30.369108401200407!3d50.42210750855813!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cb9719690299%3A0x1cf0230e7b162e16!2z0LLRg9C7LiDQl9C-0LTRh9C40YUsIDM00JAsINCa0LjRl9Cy!5e0!3m2!1sru!2sua!4v1450710087852" width="900" height="400" frameborder="0" style="border:0" allowfullscreen)
         h3 Наши контакты:
         p (044)XXX-XX-XX
         p (067)XXX-XX-XX
         h3 Вы можете связаться с нами, заполнив форму ниже, либо задать вопросы
            a(href="mailto:xxxxxxxxxxxx@mail.ru") по электронной почте
         #feedback
            form.client-form Вы можете записаться на прием, заполнив форму:
               p: input(class="form-text" type='text' name='full_name' placeholder='Введите ваше имя' size='35' maxlength='40')
               p: input.form-text(type='text' name='contact' placeholder='Введите ваш контактный номер' size='35' maxlength='40')
               p: input.form-text(type='text' name='mail' placeholder='Введите ваш  E-mail' size='35' maxlength='40')
               p: select.form-text(name='doctors' size='1')
                 option(selected value='Выберите доктора') Выберите доктора:
                 option(value='Марченко Раиса Захаровна') Марченко Раиса Захаровна
                 option(value='Романенко Лариса Олеговна') Романенко Лариса Олеговна
                 option(value='Сафронов Игорь Иванович') Сафронов Игорь Иванович
                 option(value='Фадеев Сергей Викторович') Фадеев Сергей Викторович
               p: textarea.form-textarea(name='comment' id='comment'  cols='48' rows='8' placeholder='Укажите Ваши пожелания')
               input.form-submit(type='submit' name='submit' value='Отправить')

