.footer
   .footer-box
      .footer-container
         h2.footer-tittle Информационный отдел:
         ul.footer-list
         li: a.footer-link(href="#") Скидки
         li: a.footer-link(href="#") Страховые компании
         li: a.footer-link(href="#") Вакансии
      .footer-container
         h2.footer-tittle Наши контакты:
         p.footer-context г.Киев, ул. Зодчих 34 Б
         p.footer-context м.Житомирская
         p.footer-context xxxxxx@com.ua
      .footer-container
         h2.footer-tittle Звоните, и мы ответим на ваши вопросы:
         p.footer-context (044)ХХХ-ХХ-ХХ
      .footer-container
         h2.footer-tittle График работы:
         p.footer-context Пн-Пт: 08:00 - 20:00
         p.footer-context Сб: 09:00-18:00
         p.footer-context Вс: выходной
   .footer-dropdown
      p.footer-dropdown-content Created and design by OlgaKz
      p.footer-dropdown-content 2015-2016

