.menu
    ul.menu-list
        li.menu-list-item: a.menu-link(href="main_page.html") Главная
        li.menu-list-item Услуги
          ul.dropdown
              li.list: a(href="#") Педиатрия
              li.list: a(href="#") Консультации врачей
              li.list: a(href="#") Оперативная урология
              li.list: a(href="#") Оперативная гинекология
              li.list: a(href="#") Ультрозвуковая диагностика
              li.list: a(href="#") Лабораторные исследования
        li.menu-list-item: a.menu-link(href="doctors.html") Врачи
        li.menu-list-item: a.menu-link(href="#") Прайс
        li.menu-list-item: a.menu-link(href="galery.html") Галерея
        li.menu-list-item: a.menu-link(href="contact.html") Контакты