extends layout/layout
block title
   title main_page
block css
   link(rel="stylesheet/less", type="text/css", href="../less/style.less")
   script(src="../libs/less.js", type="text/javascript")

block content
   .wrapper
      include includes/head.jade
      .middle_wrapper
         .middle_left
            form(name="search",method="post" action="")
               input(class="search_field" type="text" name="search_word" placeholder="Поиск..." size='35' maxlength='35')
               input(type="image", src="../img/searchGlass.png", alt=""  class="searchGlass")
            .vert_menu Услуги
               ul.vert_menu_list
                  li.vert_menu_item: a.vert_menu_link(href="#") Обучение нанесению
                  li.vert_menu_item: a.vert_menu_link(href="#") Услуги нанесения
                  li.vert_menu_item: a.vert_menu_link(href="#") Аренда оборудования
                  li.vert_menu_item: a.vert_menu_link(href="#") Выезд специалиста на обьект
                  li.vert_menu_item: a.vert_menu_link(href="#") Доставка
                  li.vert_menu_item: a.vert_menu_link(href="#") Визуализация декоративных покрытий в интерьере
         .wrapper_middle_list
            .list_1
               .list_left_top_title Обучение нанесению
                a.list_open_left_top(href="#") Детальнее
            .list_block
               .list_2
                  .list_title_right Услуги нанесения
                  img.coner(src="../img/уголок.png")
                  a.list_open_right(href="#") Детальнеe
               .list_3
                  .list_title_left Аренда оборудования
                  img.coner(src="../img/уголок.png")
                  a.list_open_left(href="#") Детальнее
            .list_block
               .list_4
                  .list_title_left Выезд специалиста на дом
                  img.coner(src="../img/уголок.png")
                  a.list_open_left(href="#") Детальнее
               .list_5
                  .list_title_right Доставка
                  img.coner(src="../img/уголок.png" style="left:162px")
                  a.list_open_right(href="#") Детальнее
            .list_6
               .list_right_bottom_title Визуализация декоративных покрытий в интерьере
               a.list_open_right_bottom(href="#") Детальнее
      include includes/footer.jade



   script(src="../js/form.js")