extends layout/layout
block title
   title main_page
block css
   link(rel="stylesheet", href="../css/main_page.css")
block content
   .wrapper
      include includes/head.jade

   script(src="../js/form.js")