extends layout/layout
block title
   title ginecology_1
block css
   link(rel='stylesheet', href='../css/main_page.css')
   link(rel='stylesheet', href='../css/departments.css')
block content
   .wrapper
      include includes/header
      include includes/main_menu
      include includes/slider
      .main_page
         include includes/side_menu_2
         #department
            h2 Патология шейки матки
            h3 Эрозия шейки матки
            p.department_title Эрозия шейки матки – дефект слизистой оболочки шейки матки в виде участка красного цвета.Эрозия шейки матки возникает и протекает бессимптомно – поэтому только регулярный осмотр врача гинеколога позволит своевременно выявить и предупредить развитие осложнений данного заболевания.Эрозия шейки матки может встречаться у женщин всех возрастов. При этом до 21 года диагноз обычной эрозии у девушек требует наблюдения и может проходить самостоятельно, будучи просто этапом формирования гормонального фона. Уже после 21 года эрозия считается патологическим процессом и требует диагностики и лечения.
            p.department_title Для лечения мы применяем лазерную вапоризацию и радиоволновую эксцизию. Эти, зарекомендовавшие себя методы, позволяют успешно осуществлять эрозия шейки матки лечение и являются наиболее оптимальными для сохранения естественной репродуктивной функции женщины.
            h3 Дисплазия шейки матки
            p.department_title Это заболевание, при котором на поверхности шейки матки присутствуют нетипичные (аномальные) клетки. И хотя само заболевание возникает и протекает бессимптомно, оно относится к потенциально опасным, так как может приводить к развитию рака шейки матки. Выявление дисплазии шейки матки на более ранних этапах развития является залогом наиболее успешного дисплазия лечение. Для выявления дисплазии выполняется цитологическое исследование соскоба шейки матки и цервикального канала и расширенная видеокольпоскопия.
            p.department_title Мы используем современные методы лечение шейки матки – лазерную вапоризацию и радиоволновую эксцизию. Использование этих методов является наиболее оптимальным для сохранения естественной репродуктивной функции женщины, так как здоровые ткани не повреждаются и не формируются рубцы.
            button.form Записаться на прием
   script(src="../js/doctors.js")
   script(src="../js/main_page_list.js")