extends layout/layout
block title
   title ginecology_4
block css
   link(rel='stylesheet', href='../css/main_page.css')
   link(rel='stylesheet', href='../css/departments.css')
block content
   .wrapper
      include includes/header
      include includes/main_menu
      include includes/slider
      .main_page
         include includes/side_menu_2
         #department
            h2 Лечение инфекционных заболеваний
            p.department_title Заболевания, передающиеся половым путем (или ЗППП) являются одними из самых распространенных в мире инфекционных болезней. К ним относятся хламидиоз, трихомониаз, микоплазмоз, гонорея, сифилис и многие другие. Более того, мочеполовые инфекции тоже передаются половым путем. Своевременные обращение к врачу и начало лечения помогут быстро избавиться от заболевания и не получить осложнений.
            p.department_title Ни в коем случае нельзя пускать болезнь на самотек или заниматься самолечением. Кроме того, проходить обследование и лечение должны оба партнера, так как в обратном случае велика вероятность возникновения хронических заболеваний и серьезных сексуальных нарушений.
            button.form Записаться на прием
   script(src="../js/doctors.js")
   script(src="../js/main_page_list.js")
