extends layout/layout
block title
   title surgery_2
block css
   link(rel='stylesheet', href='../css/main_page.css')
   link(rel='stylesheet', href='../css/departments.css')
block content
   .wrapper
      include includes/header
      include includes/main_menu
      include includes/slider
      .main_page
         include includes/side_menu_2
         #department
            h2 Варикозное расширение вен (варикозная болезнь)
            p.department_title Варикозное расширение вен лечение необходимо, ведь – это не только косметический недостаток, в первую очередь это серьезное заболевание, которое влечет за собой постоянные боли в ногах, отеки, трофические язвы на ногах, кровотечение или острый тромбоз варикозно расширенных вен. Почти у каждого четвертого человека подверженного варикозу развиваются осложнения вышеуказанные осложнения, которые не лечатся без врачебного вмешательства. Важно понимать, что расширение вены на ногах это полная дегенерация венозной стенки, поэтому без вмешательства флеболога и последующего лечение варикозного расширения вен болезнь будет прогрессировать.
            h3 Причины варикозного расширения вен
            p.department_title Наследственная предрасположенность
            p.department_title Избыточная нагрузка на вены на ногах
            p.department_title Осложнения при варикозном расширении вен
            h3 Консультация флеболога
            p.department_title В первую очередь стоит знать, что флеболог это специалист, который занимается диагностикой и лечением патологий и в частности, варикозное расширение вен лечение. При проявлении первых симптомов указывающих на варикоз, следует обратиться именно к специалисту именно этого профиля. На консультации врач проводит первичный осмотр, после чего в большинстве ситуаций назначает прохождение ультразвукового исследования сосудов, дает первичные рекомендации. Так же на первой консультации вырабатывается наиболее подходящая тактика лечения, индивидуально для каждого пациента.
            h3 Методы лечения
            p.department_title Склеротерапия методом FOAM FORM
            p.department_title Эстетическая флебектомия(минифлебектомия)
            p.department_title Лечение лазером(эндовазальная лазерная коагуляция)
            button.form Записаться на прием
   script(src="../js/doctors.js")
   script(src="../js/main_page_list.js")



