extends layout/layout
block title
   title surgery_1
block css
   link(rel='stylesheet', href='../css/main_page.css')
   link(rel='stylesheet', href='../css/departments.css')
block content
   .wrapper
      include includes/header
      include includes/main_menu
      include includes/slider
      .main_page
         include includes/side_menu_2
         #department
            h2 Вросший ноготь
            p.department_title Врастание ногтевой пластины в боковой край ногтевого валика. Этот диагноз практически все пациенты могут сами себе поставить, поскольку жалобы достаточно четкие: боль в уголке ногтя при ходьбе или при надавливании, покраснение и отечность кожи около ногтевого валика. Как правило, появление этих неприятных симптомов связано с неправильным обрезанием ногтей накануне.
            h3 Причинами возникновения данного заболевания могут быть следующие факторы:
            p.department_title Врождённая особенность формы ногтевых пластин;ношение тесной обуви с узкими носками;травмы большого пальца, ногтя; педикюр, когда ногти подрезаются у краев очень глубоко – самая частая причина.
            h3 Приемущества лечения в нашем центре
            p.department_title Лечение вросшего ногтя выполняется методом радиоволнового иссечения краев ногтевой пластинки вместе с участками ростковой зоны ногтя с дальнейшей обработкой пораженной зоны лазером. Использование лазера при данной патологии избавляет пациентов от возможных рецидивов заболевания, поскольку край ногтевой пластинки не будет расти, а значит, и не будет врастать в мягкие ткани. Эффективное лечение вросшего ногтя лазерным методом, а точнее удаление, занимает всего несколько минут, вне зависимости от тяжести случая. Названная методика лечения вросшего ногтя выполняется абсолютно безболезненно под местной анестезией. Этот вид лечения дает 100% гарантию отсутствия рецидивов. После операции рекомендуется 3 перевязки с интервалом в 1 сутки. Операция эта абсолютно безболезненна и проводится амбулаторно. Анестезия может быть как местной, так и общей, в зависимости от ситуации. На палец будет наложена асептическая повязка, которую необходимо сменить 2-4 раза у нас в клинике. Полное заживление наступит через три недели.
            button.form Записаться на прием
   script(src="../js/doctors.js")
   script(src="../js/main_page_list.js")
