extends layout/layout
block title
   title surgery_3
block css
   link(rel='stylesheet', href='../css/main_page.css')
   link(rel='stylesheet', href='../css/departments.css')
block content
   .wrapper
      include includes/header
      include includes/main_menu
      include includes/slider
      .main_page
         include includes/side_menu_2
         #department
            h2 Новообразования кожи
            p.department_title Липомы и атеромы – доброкачественные кожные образования. Внешне они очень похожи. На первых стадиях эти образования доставляют исключительно физический и эстетический дискомфорт. Только врач может поставить правильный диагноз и предложить наиболее безопасный и эффективный метод хирургического лечения. Удаление происходит под местной анестезией как для липом, так и для атером. Преимущественно используется метод лазерного лечения благодаря отсутствию реабилитации после операции. Кроме того, лазерное лечение используют из-за скорости и надежности.
            p.department_title Как правило, лечение липомы и лечение атеромы проводится путем иссечения радиоволновым ножом с последующим вылущиванием опухоли, и обработкой ложа лазером. На кожу накладываются обычные или атравматические (в зависимости от пожеланий пациента и конкретной ситуации) швы. При лечении липомы и\или атеромы обработка лазером производится для предотвращения рецидивов, с одной стороны, а с другой стороны после лазерной обработки, в послеоперационном периоде болезненности в месте операции практически нет. В большинстве случаев, на месте удаления новообразований (в случае отсутствия у пациента склонности к рубцеванию), при использовании названных методик, рубцов (шрамов) не остается.
            button.form Записаться на прием
      include includes/footer
   script(src="../js/doctors.js")
   script(src="../js/main_page_list.js")


