.head_wrapper
   .logo
      img.logo_img(src="../img/logo.PNG" alt="logo")
   .middle_block
      form(name="city") Выберите город
         select(name='choose_city' size='1')
            option(selected value="all_Russia") Вcя Россия :
      .nav_menu
         ul.nav_menu_list
            li.nav_menu_item: a.nav_menu_link(href="#") Главная
            li.nav_menu_item: a.nav_menu_link(href="#") | Услуги
            li.nav_menu_item: a.nav_menu_link(href="#") | Обучение нанесению

   .right_block
      .email test@mail.ru
      .mobile +7(495)4565667
      .feadback Заказать звонок
      .soc
         a.soc_link_fb(href="#")
         a.soc_link_tw(href="#")
         a.soc_link_od(href="#")
         a.soc_link_g(href="#")
         a.soc_link_vk(href="#")

