.footer_wrapper
   .footer_content
      .logo_img_footer
         img(src="../img/logo_footer.png" alt="logo_company")
      ul.footer_box
         li: a.footer_box_link(href="#") о компании
         li: a.footer_box_link(href="#") каталог покрытий
         li: a.footer_box_link(href="#") покрытия в интреьере
         li: a.footer_box_link(href="#") услуги
      ul.footer_box
         li: a.footer_box_link(href="#") сотрудничество
         li: a.footer_box_link(href="#") FAQ
         li: a.footer_box_link(href="#") блог
         li: a.footer_box_link(href="#") контакты
      .contact_info
         .mobile.mobile_footer +7 (495) 543-45-80
         .email.email_footer contact@decorum-elite.ru
         form(name="search",method="post" action="")
            input(class="search_field " type="text" name="search_word" placeholder="Поиск..." size='35' maxlength='35')
            input(type="image", src="../img/searchGlass.png", alt=""  class="searchGlass")
         .soc.soc_footer
            a.soc_link_fb.soc_link_footer(href="#")
            a.soc_link_tw.soc_link_footer(href="#")
            a.soc_link_od.soc_link_footer(href="#")
            a.soc_link_g.soc_link_footer(href="#")
            a.soc_link_vk.soc_link_footer(href="#")