.footer_wrapper
   .footer_content
      .logo_img_footer
         img(src="../img/logo_footer.png" alt="logo_company")
      ul.footer_box
         li: a.footer_box_link(href="#") о компании
         li: a.footer_box_link(href="#") каталог покрытий
         li: a.footer_box_link(href="#") покрытия в интреьере
         li: a.footer_box_link(href="#") услуги
      ul.footer_box
         li: a.footer_box_link(href="#") сотрудничество
         li: a.footer_box_link(href="#") FAQ
         li: a.footer_box_link(href="#") блог
         li: a.footer_box_link(href="#") контакты
      .contact_info
         p.contact_mobile +7 (495) 543-45-80
         p.contact_email contact@decorum-elite.ru

