.head_wrapper
   .logo
      img.logo_img(src="../img/logo_main.png" alt="logo")
   .middle_block
      form.city(name="city") Выберите город
         select(name='choose_city' size='1')
            option(selected value="all_Russia") Вcя Россия:
      .nav_menu
         ul.nav_menu_list
            li.nav_menu_item: a.nav_menu_link(href="#") Главная
            li.nav_menu_item: a.nav_menu_link(href="#") | Услуги
            li.nav_menu_item: a.nav_menu_link(href="#") | Обучение нанесению

   .right_block
      .email contact@decorum-elite.ru
      .mobile +7 (495) 543-45-80
      .feadback Заказать обратный звонок
      .soc
         a.soc_link_fb(href="#")
         a.soc_link_tw(href="#")
         a.soc_link_od(href="#")
         a.soc_link_g(href="#")
         a.soc_link_vk(href="#")
.main_menu
   ul.main_menu_list
      li.main_menu_item: a.main_menu_link(href="#") Главная
      li.main_menu_item: a.main_menu_link(href="#") Каталог покрытий
      li.main_menu_item: a.main_menu_link(href="#") Покрытия в интерьере
      li.main_menu_item: a.main_menu_link(href="#") Услуги
         ul.dropdown_menu
            li.dropdown_menu_item: a.dropdown_menu_link(href="#") Обучение нанесению
            li.dropdown_menu_item: a.dropdown_menu_link(href="#") Услуши нанесения
            li.dropdown_menu_item: a.dropdown_menu_link(href="#") Аренда оборудования
            li.dropdown_menu_item: a.dropdown_menu_link(href="#") Выезд специалиста на обьект
            li.dropdown_menu_item: a.dropdown_menu_link(href="#") Доставка
            li.dropdown_menu_item: a.dropdown_menu_link(href="#") Визуализация декоративных покрытий в интерьере
      li.main_menu_item: a.main_menu_link(href="#") О компании
      li.main_menu_item: a.main_menu_link(href="#") Контакты
