body{
    margin: 0;
    background:linear-gradient(to bottom, skyblue, lightskyblue);
}



@font-face{
    font-family: Elzevir;
    src: url('font/transfonter.org-20151214-114916/Elzevir.eot');
    src: url('font/transfonter.org-20151214-114916/Elzevir.eot?#iefix') format('embedded-opentype');
url('/font/transfonter.org-20151214-114916/Elzevir.woff') format('woff'),
url('/font/transfonter.org-20151214-114916//Elzevir.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.menu{
    background: snow;
}
.menu-list{
    margin: 0;
}
.wrapper{
    margin: auto;
    width: 900px;

}
.menu-list-item{
    display: inline-block;
    text-align: center;
    font-size: 25px;
    font-family: Georgia, serif;

}
.menu-link{
    color: #3070a8;
    text-decoration: none;
    padding: 0 35px;

}
.menu-link:hover{
    background: lightskyblue;
    color: #f6f9f9;
    border-radius: 5px;
    padding: 0 35px;

}

.header{
    display: flex;
    background-color: snow;
    position: relative;


}
.header h1{
    position:absolute;
    left: 260px;
    font-family: Georgia, serif;
}
.nameMC{
    left: 220px;
    position: absolute;
    top: 30px;
    font-size: 60px;
    font-family: Elzevir;

}
.callNumber{
    position: absolute;
    top:130px;
    left:500px;
    font-size: 35px;
    font-family: Georgia, serif;
}
.main_page{
    background-color: #ffa7d1;
}
.a123{
background-color:#a64dff ;
}