.main_page_list
   h2 Наши отделения
   .view-source
      a.view-source-link Гинекология
      ul.hide
         li: a.hide-link(href="ginecology_1.html#department") Патология шейки матки
         li: a.hide-link(href="ginecology_2.html#department") Лечение бесплодия
         li: a.hide-link(href="ginecology_3.html#department") Ведение беременности
         li: a.hide-link(href="ginecology_4.html#department") Лечение инфекционных заболеваний
   .view-source
      a.view-source-link Хирургия
      ul.hide
         li: a.hide-link(href="surgery_1.html#department") Вросший ноготь
         li: a.hide-link(href="surgery_2.html#department") Варикозная болезнь
         li: a.hide-link(href="surgery_3.html#department") Новообразования кожи
   .view-source
      a.view-source-link Урология
      ul.hide
         li: a.hide-link(href="#") Андрология
         li: a.hide-link(href="#") Урогинекология
   .view-source
      a.view-source-link Кардиология
   .view-source
      a.view-source-link Офтальмология
   .view-source
      a.view-source-link Эндокринология
   .view-source
      a.view-source-link Семейный врач
      ul.hide
         li: a.hide-link(href="#") Вакцинация