.container
   ul.slider
      li: img.img_slider(src="../images/slider_1.jpg")
      li: img.img_slider(src="../images/doctors.jpg")
      li: img.img_slider(src="../images/patient-care.jpg")
      li: img.img_slider(src="../images/familia_protegida.jpg")

