.doc-photo{
    width: 180px;
    height: 160px;
}
.wrapper-doctor{
    width: 900px;
    margin: auto;
    display: flex;
}
.doctor-content{
    padding: 10px 20px;
}
.doc-name{
    margin: 0 auto;
}
.doc-spec{
    text-align: center;
}
.popup-doc{
    display: none;
    width: 300px;
    height: 500px;
}