.main_page{
    display:flex;
    width: 900px;
    margin: auto;
}
.main_page_content{
    width: 700px;
    background: url('../images/main.jpg');
    background-position: center;
}
.main_page_list{
    width:200px;
    background-color: snow;
    -position: relative;
    padding: 10px;
    cursor: pointer;
    margin: 0 auto;
    font-weight: bold;
    color: #3070a8;
}
.view-source-link{
    text-decoration: none;
    color: #3070a8;
    font-size: 15px;
    font-family: Georgia, serif;
}
.view-source-link:hover{
    background-color: #9bc7de;
    color: #2e3a50;
    padding: 15px 10px;
    border-radius: 10px;

}
.view-source{
    padding: 15px 10px;
    position: relative;

}
.hide li{
    padding: 10px 0;
}
.hide{
    list-style: none;

}
.hide-link{
    text-decoration: none;
    color: #2e3a50;
    padding: 15px 0;

}
